<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

@section scripts {
   <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').dataTable({
                "ajax": {
                    "url": "/api/league/"
                    ,
                    "dataSrc": ""
                },
                "columns": [
                   { "data": "position" },
                   { "data": "team.teamName" },
                   { "data": "games" },
                   { "data": "points" },
                   { "data": "goalsScored" },
                   { "data": "goalsConceded" },
                   { "data": "goalDifference" }
                ],
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false
            });

            $("#startDate").datepicker();
            $("#endDate").datepicker();

            $('#pressMe').click(function () {
                var getDateToSendFromDate = function (date, dateToUseIfNull) {
                    if (!date) return dateToUseIfNull;
                    return date;
                };
                

                var startDateToSend = getDateToSendFromDate($("#startDate").datepicker("getDate"), new Date(1900, 1, 1)).toISOString().substring(0,10);
                var endDateToSend = getDateToSendFromDate($("#endDate").datepicker("getDate"), new Date(2100, 1, 1)).toISOString().substring(0, 10);

                var additionalParams = $("#LocationFilter").val()   ;
                var url = "/api/league/" + startDateToSend + "/" + endDateToSend + "/" + additionalParams;
                $.ajax({
                    url: url
                })
                .done(function (data) {
                    $('#table').dataTable().fnClearTable();
                    $('#table').dataTable().fnAddData(data);
                });
            });
        });

    </script> 
}


<div class="jumbotron">
    <h1>Premier League Aggregator</h1>
    <span>Start date: <input type="text" id="startDate"></span>
    <span>End date: <input type="text" id="endDate"></span>
    <span>Location: 
        <select id="LocationFilter" name="LocFilter">
            <option value="Home">Home</option>
            <option value="Away">Away</option>
            <option value="None" selected="selected">None</option>
        </select>
    </span>

    <button id="pressMe">Go!</button>

    <table id="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Games</th>
                <th>Points</th>
                <th>Goals Scored</th>
                <th>Goals Conceded</th>
                <th>Goal Difference</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>
